.sidebar {
  background-color: #111111;
  height: 100vh;
  padding: 16px 8px;
}

.sidebar h1 {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 32px;
}

.sidebar a {
  display: block;
  width: 100%;
  padding: 16px;
  color: #ffffff;
  text-decoration: none;
}

.sidebar a:hover {
  color: #ffffff;
}

.sidebar a.active {
  background-color: #0D6EFD;
}